.head {
  display: grid;
  -moz-box-align: center;
  align-items: center;
  grid-template-columns: 60px 1fr;
  grid-gap: 40px;
  grid-gap: 40px;
  gap: 40px;
}

.head .pageTitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
}


.icon {
  width: 60px;
  height: 60px;
  background: var(--primary);
  border-radius: 5px;
  -moz-box-pack: center;
  justify-content: center;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  & svg {
    fill: #fff;
    height: 40px;
  }
}